<div class="container">
  <div class="col-md-12">
    <h2><%= @tournament.name %></h2>
    <table class="table">
      <tr>
        <th>Start Date</th><td><%= @tournament.start_date %></td>
        <th>End Date</th><td><%= @tournament.end_date %></td>
      </tr>
      <tr>
        <th>Picking Starts</th><td><%= @tournament.picks_start.in_time_zone("America/Chicago").strftime("%Y-%m-%d %I:%M %p %Z") %></td>
        <th>Picking Cut-off</th><td><%= @tournament.picks_end.in_time_zone("America/Chicago").strftime("%Y-%m-%d %I:%M %p %Z") %></td>
      </tr>
      <tr>
        <th>Secret Code</th><td><%= @tournament.secret_code %></td><th>Leaderboard</th><td><%= @tournament.leaderboard_url %></td>
      </tr>
      <tr>
        <th>Course Par</th><td><%= @tournament.par %></td>
        <th>Message</th><td><%= @tournament.message %></td>
      </tr>
    </table>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
        <% if @tournament.golfers.size == 0 %>
          <%= link_to "Freeze Golfers", freeze_golfers_tournament_path(@tournament), :class=>"btn btn-lg btn-success"%>
        <% else %>
          <h3>Golfers have been set.</h3>
          <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#playerModal">
            Show Golfers
          </button>
          <div class="modal fade" id="playerModal" tabindex="-1" role="dialog" aria-labelledby="playerModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="playerModalLabel">Golfers</h4>
                </div>
                <div class="modal-body">
                   <table class="table table-striped">
                     <% @tournament.golfers.each do |g| %>
                     <tr>
                       <td><%= g.rank %></td>
                       <td><%= g.player %></td>
                     </tr>
                     <% end %>
                   </table>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <%= link_to "Re-Freeze Golfers", freeze_golfers_tournament_path(@tournament), :class=>"btn btn-lg btn-success"%>

        <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <h3>Invited Users</h3>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Name</th>
              <th>Email Address</th>
              <th>Accepted?</th>
            </tr>
        </thead>
        <tbody>
            <% @tournament.tournament_invitations.sort_by!{|x| x.accepted? ? 0 : 1}.each do |ti| %>
            <tr>
              <td><%= ti.user.first_name %> <%= ti.user.last_name %></td>
              <td><%= ti.user.email %></td>
              <td><%= ti.accepted? %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <%= form_tag invite_users_tournament_path(@tournament.id) do -%>
    <h3>Uninvited Users</h3>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email Address</th>
        <th>Invite</th>
      </tr>
      </thead>
      <tbody>
      <% if @uninvited_users.size > 0 %>

      <% @uninvited_users.each do |ui| %>
          <tr>
            <td><%= ui.first_name %> <%= ui.last_name %></td>
            <td><%= ui.email %></td>
            <td><%= check_box_tag "invite[#{ui.id}]", "yes" %> </td>
          </tr>
      <% end %>
        <tr>
          <td></td>
          <td></td>
          <td><input type="submit" value="Send Invites" class="btn btn-success"></td>
        </tr>

      <% else %>
          <tr>
            <td colspan="3" class="alert alert-error">No users exist to invite.</td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <% end -%>
  </div>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>


</div>
